<!doctype html>  
<html>
  <head>
    <meta charset="utf-8">
    <title><%= meta.title %></title>
    <% css_files = theme.css + meta.css %>
    <% if css = css_files.delete("css/reset.css") %>
      <link rel="stylesheet" href="<%= css %>">
    <% end %>
    <% css_files.each do |css| %>
      <link rel="stylesheet" href="<%= css %>">
    <% end %>
    <link rel="stylesheet" href="css/pygments/colorful.css">
  </head>
  <body>
    <div id="main">
      <% sections.each do |section| %>
        <section id="section-<%= section.number %>">
          <% section.slides.each do |slide| %>
            <section id="slide-<%= section.number %>-<%= slide.number%>" class="<%= slide.classes %>">
              <%= slide.html %>
            </section>
          <% end %>
        </section>
      <% end %>
    </div>
    <% (theme.js + meta.js).each do |js| %>
      <script src="<%= js %>"></script>
    <% end %>
  </body>
</html>
