<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title><%= meta.title %></title>
    <% (theme.css + meta.css).each do |css| %>
      <link rel="stylesheet" href="<%= css%>">
    <% end %>
    <link rel="stylesheet" href="css/pygments/native.css">
    <script src="js/prefixfree.min.js"></script>
  </head>
  <body data-duration="<%= meta.duration %>">
    <section>
      <header class="slide">
        <h1><%= meta.title %></h1>
      </header>
    </section>
    <% sections.each do |section| %>
      <section>
        <header class="slide">
          <h1><%= section.title %></h1>
        </header>
        <% section.slides.each do |slide| %>
          <section class="slide <%= slide.classes %>">
            <%= slide.html %>
          </section>
        <% end %>
      </section>
    <% end %>
    <% (theme.js + meta.js).each do |js| %>
      <script src="<%= js %>"></script>
    <% end %>
    <script>var slideshow = new SlideShow();</script>
  </body>
</html>
